.*
.*/
!.externalToolBuilders/
!.classpath
!.project
!.tomcatplugin
!.gitattributes
!.idea/
.idea/dictionaries/
.idea/gradle.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
bin/
ide/
lib/
logs/
out/
target/
temp-lib/
test-output/
testdata/
*.log
work/
*~
*.class
*.hprof
user.properties

